.theme-selector {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.theme-btns {
    display: flex;
}
.theme-btn {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
}
.theme-mode {
    width: 40px;
    height: 40px;
    margin: 5px;
}